.adv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 72px auto;
  grid-gap: 5px;
  grid-template-areas: "Asearchbar Asearchbar"
    "AsearchResults AadvDetails";
}

.searchbar {
  background-color: rgba(46, 21, 27, 0.9);
  grid-area: Asearchbar;
  height: 72px;
  input[type=text] {
    height: 100%;
    background: none;
    color: white;
  }
}

.searchResults {
  background-color: rgba(46, 21, 27, 0.3);
  grid-area: AsearchResults;
}

.advDetails {
  background-color: rgba(46, 21, 27, 0.3);
  grid-area: AadvDetails;
}