.adv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px auto;
  grid-gap: 5px;
  grid-template-areas: "Asearchbar Asearchbar"
    "AsearchResults AadvDetails";
}

.searchbar {
  background-color: #1d1d1d;
  grid-area: Asearchbar;
  input[type=text] {
    height: 100%;
    background: none;
    color: white;
  }
}

.searchResults {
  background-color: #00efb2;
  grid-area: AsearchResults;
}

.advDetails {
  background-color: #1d6fa5;
  grid-area: AadvDetails;
}