#chat-body {
  width: 100%;
  height: 910px;
}

.main-container {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 90%;
  height: 800px;
  transform: translate(-50%);

  display: grid;
  grid-template-columns: 72px auto 350px;
  grid-gap: 10px;

  #groups {
    background-color: #1b2d40;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 120px);
    text-align: center;


    div {




      .avatar {
        border-radius: 40%;
        height: 60px;
        width: 60px;
      }
    }

  }

  #chat {
    display: grid;
    grid-template-rows: 72px auto 42px;
    row-gap: 5px;

    .chat-head {
      background-color: #1b2d40;

      h3 {
        text-align: center;
        padding-top: 15px;
        color: #CFD8DC;
      }
    }

    .messages {
      padding: 10px;

      background-color: rgba(96,125,139,0.9);
      //opacity: 0.9;
      align-items: flex-end;
      vertical-align: bottom;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 700px;

      div{
        display: inline;
        border-radius: 2%;
        padding: 4px;
        background-color: #00bc8c;
        float: left;
        clear: right;
        margin: 3px;
        &:nth-child(2n){
          background-color: #00cec9;
          float: right;
          clear: left;
        }
      }

      //div:nth-child(2n +1){
      //  display: inline;
      //  border-radius: 30%;
      //  background-color: #00efb2;
      //  float: right;
      //  clear: left;
      //}
    }

    .send-form {
      display: grid;
      grid-template-columns: auto repeat(3, 42px);
      background-color: #232323;
      align-items: center;
      justify-items: center;

        img {
          width: 30px;
          height: 30px;
          &:hover {
            width: 34px;
            height: 34px;
          }
        }


    }
  }

  #details {
    display: inline-block;
    /*background-color: #00bc8c;*/
    background-color: #00897B;
    opacity: 0.9;
  }

}




